@import '../../mixin.scss';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.home img {
    @include size(80px, 80px);
    animation: spinner 8s infinite linear;
    margin-bottom: 36px;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}

.home h1 {
    font-size: 50px;
    margin-bottom: 48px;
    color: #fff
}

.home input {
    padding: 8px 16px;
    margin: 0px 0 48px;
    font-size: 16px;
    border-radius: 4px;
    border: 0;
}

.home button {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    border: 0;
    width: max-content;
}

.home button:hover {
    opacity: 0.6;
}